.button__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.button__item {
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;

  &:hover {
    svg {
      fill: var(--color-blue);
    }

    .button__text {
      color: var(--color-blue);
    }
  }
}

.button__text {
  display: none;
}

@media (min-width: 1024px) {
  .button__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .15rem;
  }

  .button__text {
    display: block;
  }
}