<header class="header">
  <div class="header__container">
    <!-- logo -->
    <figure class="header__logo">
      <img [routerLink]="['/home']" width="350" height="95" class="header__img" src="./logo.png" alt="logo"
        title="logo">
    </figure>
    <!-- menu -->
    <nav class="header__nav">
      <div class="header__nav-container">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" [routerLink]="['/home']" title="Home">home</a>
          </li>
          <li class="header__item">
            <a class="header__link" [routerLink]="['/home']" title="nuevo usuario">Nuevo usuario</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- hamburguesa -->
    <div class="header__hamburguer">
      <div class="header__hamburguer-icon"></div>
    </div>
  </div>
</header>