<section class="form">
  <div class="header__container">
    <h2 class="header__title">{{title}}</h2>
    <div class="header__line"></div>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()" class="form__form">
    <input type="hidden" formControlName="_id">
    <div class="form__row">
      <label for="first_name" class="form__label">Nombre de usuario</label>
      <div>
        <input class="form__input" type="text" formControlName="first_name" id="first_name"
          placeholder="Introduzca nombre de usuario">
        @if (checkControl('first_name', 'required')) {
        <p class="form__error">Campo obligatorio</p>
        }
        @if (checkControl('first_name', 'minlength')) {
        <p class="form__error">El campo debe tener al menos 3 caracteres</p>
        }
      </div>
    </div>
    <div class="form__row">
      <label for="last_name" class="form__label">Apellido de usuario</label>
      <div>
        <input class="form__input" type="text" formControlName="last_name" id="last_name"
          placeholder="Introduzca apellido de usuario">
        @if (checkControl('last_name', 'required')) {
        <p class="form__error">Campo obligatorio</p>
        }
        @if (checkControl('last_name', 'minlength')) {
        <p class="form__error">El campo debe tener al menos 3 caracteres</p>
        }
      </div>
    </div>
    <div class="form__row">
      <label for="email" class="form__label">Email de usuario</label>
      <div>
        <input class="form__input" type="email" formControlName="email" id="email"
          placeholder="Introduzca email de usuario">
        @if(checkControl('email', 'required')){
        <p class="form__error">Campo obligatorio</p>
        }
        @if(checkControl('email', 'pattern')){
        <p class="form__error">El email tiene que ser correcto (ejemplo: usuario&#64;dominio.com)</p>
        }
      </div>
    </div>
    <div class="form__row">
      <label for="username" class="form__label">Usuario</label>
      <div>
        <input class="form__input" type="text" formControlName="username" id="username"
          placeholder="Introduzca el usuario">
        @if (checkControl('username', 'required')) {
        <p class="form__error">Campo obligatorio</p>
        }
        @if (checkControl('username', 'minlength')) {
        <p class="form__error">El campo debe tener al menos 3 caracteres</p>
        }
      </div>
    </div>
    <div class="form__row">
      <label for="password" class="form__label">Introduce una contraseña</label>
      <div>
        <input class="form__input" type="password" formControlName="password" id="password"
          placeholder="Introduzca una contraseña">
        @if(checkControl('password', 'required')){
        <p class="error">Campo Obligatorio</p>
        }
        @if(checkControl('password', 'minlength')){
        <p class="error">Longitud mínima 8 caracteres</p>
        }
        @if(checkControl('password', 'maxlength')){
        <p class="error">Longitud máxima 16 caracteres</p>
        }
      </div>
    </div>
    <div class="form__row">
      <label for="image" class="form__label">Imagen de usuario</label>
      <div>
        <input class="form__input" type="text" formControlName="image" id="image"
          placeholder="Introduzca imagen de usuario">
        @if(checkControl('image', 'required')){
        <p class="error">Campo Obligatorio</p>
        }
        @if(checkControl('image', 'pattern')){
        <p class="error">La URL debe comenzar con http:// o https://</p>
        }
      </div>
    </div>
    <input class="form__button" type="submit" [value]="userForm.get('_id')?.value ? 'Actualizar' : 'Guardar' "
      [disabled]="userForm.invalid">
  </form>
</section>