<section class="form">
  <div class="header__container">
    <h2 class="header__title">{{title}}</h2>
    <div class="header__line"></div>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()" class="form__form">
    <input type="hidden" formControlName="_id">
    <div class="form__row">
      <label for="first_name" class="form__label">Nombre de usuario</label>
      <input class="form__input" type="text" formControlName="first_name" id="first_name"
        placeholder="Introduzca nombre de usuario">
    </div>
    <div class="form__row">
      <label for="last_name" class="form__label">Apellido de usuario</label>
      <input class="form__input" type="text" formControlName="last_name" id="last_name"
        placeholder="Introduzca apellido de usuario">
    </div>
    <div class="form__row">
      <label for="email" class="form__label">Email de usuario</label>
      <input class="form__input" type="email" formControlName="email" id="email"
        placeholder="Introduzca email de usuario">
    </div>
    <div class="form__row">
      <label for="username" class="form__label">Usuario</label>
      <input class="form__input" type="text" formControlName="username" id="username"
        placeholder="Introduzca el usuario">
    </div>
    <div class="form__row">
      <label for="password" class="form__label">Introduce una contraseña</label>
      <input class="form__input" type="password" formControlName="password" id="password"
        placeholder="Introduzca una contraseña">
    </div>
    <div class="form__row">
      <label for="image" class="form__label">Imagen de usuario</label>
      <input class="form__input" type="text" formControlName="image" id="image"
        placeholder="Introduzca imagen de usuario">
    </div>
    <input class="form__button" type="submit" [value]="userForm.get('_id')?.value ? 'Actualizar' : 'Guardar' ">
  </form>
</section>