<div class="user__title-container">
    <h2 class="user__title">Usuarios</h2>
    <div class="line"></div>
</div>
<section class="user__list">
    @for(user of arrUsers; track user.id) {
    <article>
        <app-user-card [user]="user" (deleteUserEmit)="deleteUser($event)"></app-user-card>
    </article>
    }
</section>
<div class="user__page">
    @for(page of pages; track page) {
    <button class="user__page-button" (click)="changePage($event)" [attr.data-page]="page"
        [class.is-active]="page === currentPage">{{page}}</button>
    }
</div>